<h1>ブログ一覧</h1>

<%= link_to "ブログ投稿", new_blog_path, method: :GET %>

<p><%= notice %></p>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th></th>
  </tr>
  
<% @blogs.each do |b| %>
    <tr>
        <td><%= b.title %></td>
        <td><%= b.content %></td>
        <td><%= link_to "編集", edit_blog_path(b.id), method: :GET %></td>
        <td><%= link_to "削除", blog_path(b.id), method: :DELETE %></td>
    </tr>
<% end %>

</table>