
  <section class="main-header">
    <%= image_tag "achieve.png", class: "text-center" %>
  </section>
  <section class="about">
    <h1>About Achieve</h1>
    <p>
      Achieveは、受講生のために作成された、教材用アプリです。<br>
      Achieveを作り終えることで、SecondTeamに参加するための力を身につけることができます。
    </p>
    <p>
      Acheiveを一言で表すと、タスク管理アプリです。<br>
      チームメンバーが、今どのようなタスクを行っているかリアルタイムで把握することができます。
    </p>
  </section>
  <section class="function">
    <h1>Function</h1>
    <div class="function-images">
      <div class="function-image">
        <%= image_tag "key.png" %>
        <p>ログイン機能</p>
      </div>
      <div class="function-image">
      <%= image_tag "mails.png" %>
        <p>メール送信機能</p>
      </div>
      <div class="function-image">
        <%= image_tag "girls.png" %>
        <p>友達つながり機能</p>
      </div>
      <div class="function-image">
        <%= image_tag "comment.png" %>
        <p>コメント投稿機能</p>
      </div>
    </div>
  </section>

</body>
