
  <section class="main-header">
    <%= image_tag "achieve.png", class: "text-center" %>
  </section>
  <section class="about">
    <h1>DIC BootStrap Series2</h1>
    <p>
      DIC BootStrap Series2はBootStrapシリーズ課題2を作成したものです。
    </p>
    <p>
      Railsを使用しており、BootStrapと少々の独自CSSを当てて作成されています。
    </p>
  </section>
  <section class="function">
    <h1>Function</h1>
    <div class="function-images row">
      <div class="function-image col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "key.png" %>
        <p>ログイン機能</p>
      </div>
      <div class="function-image col-xs-12 col-sm-6 col-md-3">
      <%= image_tag "mails.png" %>
        <p>メール送信機能</p>
      </div>
      <div class="function-image col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "girls.png" %>
        <p>友達つながり機能</p>
      </div>
      <div class="function-image col-xs-12 col-sm-6 col-md-3">
        <%= image_tag "comment.png" %>
        <p>コメント投稿機能</p>
      </div>
    </div>
  </section>

</body>
