<h1><%= @user.name %>のページ</h1>

<p><%= link_to "編集", edit_user_path(current_user.id), method: :get %></p>

<p><%= image_tag @user.image.url(:thumb) if @user.image? %></p>
<p>名前: <%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>
