<!DOCTYPE html>
<html>
  <head>
    <title>HerokuTestApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "common/header" %>

      <%= yield %>

    <%= render partial: "common/footer" %>

  </body>
</html>
